.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    border-radius: 10px;
}
.toggleContainer {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    border-radius: 10px;
}
.stacked-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.pill-button {
    border: none;
    background-color: #28a745;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    transition: opacity 0.3s;
}
.pill-button.green{
    background-color: #28a745;
    color: white;
}
.pill-button.red{
    background-color: #ec6868;
    color: white;
}
.pill-button:hover {
    opacity: 0.8;
    padding: 14px 32px;
}
.modern-ul li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.modern-ul li:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.list-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px;
    background-color: #ddd;
    border-radius: 8px;
}

.modern-ul {
    list-style: none;
    padding: 0;
}

.list-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.list-item input {
    width: 30%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}
